@model HealthInsuranceManagementSystem.Models.Policy
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="text-primary fw-bold fs-3">Add new Policy</h2>
<div class="row">
    <form class="col col-md-6 mt-3" action="@Url.Action("Add", "Policy")" method="post">
        <div class="form-group">
            <label class="col-form-label-lg fw-bold" for="PolicyName">Policy Name</label>
            <input type="text" name="PolicyName" id="PolicyName" class="form-control" />
            <span class="text-danger fw-bold">
                @Html.ValidationMessageFor(policy => policy.PolicyName)
            </span>
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="Description">Description</label>
            <textarea class="form-control" name="Description" id="Description"></textarea>
            <span class="text-danger fw-bold">
                @Html.ValidationMessageFor(policy => policy.Description)
            </span>
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="Amount">Amount</label>
            <input type="number" name="Amount" id="Amount" class="form-control" />
            <span class="text-danger fw-bold">
                @Html.ValidationMessageFor(policy => policy.Amount)
            </span>
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="EMI">EMI</label>
            <input type="number" name="EMI" id="EMI" class="form-control" />
            <span class="text-danger fw-bold">
                @Html.ValidationMessageFor(policy => policy.EMI)
            </span>
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="CompanyId">Company Id</label>
            <select class="form-select" name="CompanyId" id="CompanyId">
                @foreach (var company in ViewBag.InsuranceCompanies)
                {
                    <option class="form-control" value="@company.CompanyId">
                        @company.CompanyName
                    </option>
                }
            </select>
            <span class="text-danger fw-bold">
                @Html.ValidationMessageFor(policy => policy.CompanyId)
            </span>
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="MedicalId">Medical Id</label>
            <input class="form-control" type="text" name="MedicalId" id="MedicalId" />
            <span class="text-danger fw-bold">
                @Html.ValidationMessageFor(policy => policy.MedicalId)
            </span>
        </div>

        <div class="form-group mt-2">
            <button class="px-3 py-2 btn btn-primary" type="submit">Add</button>
            <a href="@Url.Action("Index", "Policy")" class="px-3 py-2 btn btn-secondary">Cancel</a>
        </div>
    </form>

    <div class="col col-md-6 mt-5">
        <img class="img-fluid rounded-circle" src="~/Images/Health_Insurance_Policy.jpg"/>
    </div>
</div>