@model HealthInsuranceManagementSystem.Models.Policy
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="text-primary">Delete Policy @Model.PolicyName</h2>
<form action="@Url.Action("Delete", "Policy", new { id = Model.PolicyId })" method="post">
    <table class="table table-responsive-lg table-primary">
        <thead>
            <tr>
                <td>Policy Name</td>
                <td>@Model.PolicyName</td>
            </tr>

            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>

            <tr>
                <td>Amount</td>
                <td>@Model.Amount $</td>
            </tr>

            <tr>
                <td>EMI</td>
                <td>@Model.EMI $</td>
            </tr>

            <tr>
                <td>Company Id</td>
                <td>@Model.CompanyId</td>
            </tr>

            <tr>
                <td>Medical Id</td>
                <td>@Model.MedicalId</td>
            </tr>
        </thead>
    </table>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary text-decoration-none" href="@Url.Action("Index", "Policy")">
        Cancel
    </a>
</form>