@model List<HealthInsuranceManagementSystem.Models.Policy>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="lead text-primary fw-bold fs-3 mb-5">List of Policies offered by Insurance Companies</h2>
<div class="d-flex justify-content-between">
    <div>
        <a href="@Url.Action("Add", "Policy")" class="text-decoration-none btn btn-primary">
            <i class="fa-solid fa-plus"></i> Add new Policy
        </a>
    </div>
    <form action="@Url.Action("Index", "Policy")" method="post">
        <div class="search-bar">
            <input 
                   style="width: 400px" 
                   type="search"
                   class="form-control bg-light rounded fst-italic"
                   placeholder="Enter the name to search" name="search" id="search" class="form-control bg-light"
                   value="@ViewBag.Search" />
            <button class="search-button bg-light-subtle border-0" type="submit">
                <i class="search-icon fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>

@{
    string iconClass = "";
    if (ViewBag.IconClass == "fa-solid fa-sort-down")
    {
        iconClass = "fa-solid fa-sort-up";
    }
    else
    {
        iconClass = "fa-solid fa-sort-down";
    }
}

<table class="table table-bordered table-responsive-md mt-3 table-primary">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none text-dark" 
                   href="@Url.Action("Index", "Policy", new { SortColumn = "PolicyId", IconClass = iconClass })">
                    Policy Id @if (ViewBag.SortColumn == "PolicyId")
                    {
                        <i class="@ViewBag.IconClass"></i>
                    }
                </a>
            </th>
            <th>
                <a class="text-decoration-none text-dark"
                   href="@Url.Action("Index", "Policy", new { SortColumn = "PolicyName", IconClass = @iconClass })">
                    Policy Name @if (ViewBag.SortColumn == "PolicyName")
                    {
                        <i class="@ViewBag.IconClass"></i>
                    }
                </a>
            </th>

            <th colspan="2">Policy Description</th>

            <th>
                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Policy", new { SortColumn = "Amount", IconClass = iconClass })">
                    Amount @if (ViewBag.SortColumn == "Amount")
                    {
                        <i class="@ViewBag.IconClass"></i>
                    }
                </a>
            </th>

            <th>
                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Policy", new { SortColumn = "EMI", IconClass = @iconClass })">
                    EMI @if (ViewBag.SortColumn == "EMI")
                    {
                        <i class="@ViewBag.IconClass"></i>
                    }
                </a>
            </th>

            <th>
                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Policy", new { SortColumn = "CompanyId", IconClass = @iconClass })">
                    Company Id @if (ViewBag.SortColumn == "CompanyId")
                    {
                        <i class="@ViewBag.IconClass"></i>
                    }
                </a>
            </th>

            <th>
                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Policy", new { SortColumn = "MedicalId", IconClass = @iconClass })">
                    Medical Id @if (ViewBag.SortColumn == "MedicalId")
                    {
                        <i class="@ViewBag.IconClass"></i>
                    }
                </a>
            </th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var policy in Model)
        {
            <tr>
                <td>@policy.PolicyId</td>
                <td>@policy.PolicyName</td>
                <td colspan="2">@policy.Description</td>
                <td>@policy.Amount $</td>
                <td>@policy.EMI $</td>
                <td>@policy.CompanyId</td>
                <td>@policy.MedicalId</td>
                <td>
                    <a class="text-decoration-none" href="@Url.Action("Details", "Policy"
                                                         , new { id = policy.PolicyId })">View Details</a>
                </td>

                <td align="center">
                    <a class="text-decoration-none" 
                       href="@Url.Action("Update", "Policy"
                                         , new { id = policy.PolicyId })">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>

                <td>
                    <a class="text-decoration-none"
                       href="@Url.Action("Delete", "Policy"
                                         , new { id = policy.PolicyId })">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>