@model HealthInsuranceManagementSystem.Models.Policy
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@try
{
    <h2 class="text-primary">Update information of policy @Model.PolicyName</h2>
    <form action="@Url.Action("Update", "Policy", new {id = Model.PolicyId})" method="post">
        <div class="form-group">
            <label class="col-form-label-lg fw-bold" for="PolicyId">Policy Id</label>
            <input type="text" readonly class="form-control" name="PolicyId" id="PolicyId"
                   value="@Model.PolicyId" />
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="PolicyName">Policy Name</label>
            <input type="text" class="form-control" name="PolicyName" id="PolicyName" 
                   value="@Model.PolicyName" />
            @Html.ValidationMessageFor(policy => policy.PolicyName)
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description"
                   value="@Model.Description" />
            @Html.ValidationMessageFor(policy => policy.Description)
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="Amount">Amount</label>
            <input type="number" class="form-control" name="Amount" id="Amount"
                   value="@Model.Amount" />
            @Html.ValidationMessageFor(policy => policy.Amount)
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="EMI">EMI</label>
            <input type="number" class="form-control" name="EMI" id="EMI"
                   value="@Model.EMI" />
            @Html.ValidationMessageFor(policy => policy.EMI)
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="CompanyId">Company Id</label>
            <select name="CompanyId" id="CompanyId" class="form-select">
                @foreach (var company in ViewBag.InsuranceCompanies)
                {
                    <option value="@company.CompanyId">@company.CompanyName</option>
                }
            </select>
            @Html.ValidationMessageFor(policy => policy.CompanyId)
        </div>

        <div class="form-group mt-2">
            <label class="col-form-label-lg fw-bold" for="MedicalId">Medical Id</label>
            <input class="form-control" type="text" name="MedicalId" id="MedicalId"
                   value="@Model.MedicalId" />
            @Html.ValidationMessageFor(policy => policy.MedicalId)
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="px-3 py-2 btn btn-success">Update</button>
            <a class="text-decoration-none px-3 py-2 btn btn-secondary" href="@Url.Action("Index", "InsuranceCompany")">Cancel</a>
        </div>
    </form>
}
catch (NullReferenceException ex)
{
    <div class="container p-3">
        <p class="text-danger lead fs-5 fw-bold">Entered invalid data, see belows warning:</p>
        <ul class="w-50 list-unstyled">
            <li>
                <small>@Html.ValidationMessageFor(policy => policy.PolicyName)</small>
            </li>
            <li>
                <small>@Html.ValidationMessageFor(policy => policy.Description)</small>
            </li>
            <li>
                <small>@Html.ValidationMessageFor(policy => policy.Amount)</small>
            </li>
            <li>
                <small>@Html.ValidationMessageFor(policy => policy.EMI)</small>
            </li>
            <li>
                <small>@Html.ValidationMessageFor(policy => policy.CompanyId)</small>
            </li>
            <li>
                <small>@Html.ValidationMessageFor(policy => policy.MedicalId)</small>
            </li>
        </ul>
        <a class="text-decoration-none py-2 px-1 btn btn-danger"
           href="@Url.Action("GoBack", "Common", new { returnUrl = Request.UrlReferrer })">
            Return to the update page
        </a>
    </div>
}